[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
ansi2html = "==1.8.0"
attrs = "==22.1.0"
bcrypt = "==3.2.2"
cffi = "==1.15.1"
cryptography = "==37.0.4"
docutils = "==0.18.1"
greenlet = "==1.1.2"
htmlmin = "==0.1.12"
importlib-metadata = "==4.8.3"
iniconfig = "==1.1.1"
jinja2 = "==3.0.3"
markupsafe = "==2.0.1"
netifaces = "==0.11.0"
numpy = "==1.19.5"
pandas = "==1.1.5"
paramiko = "==2.11.0"
pillow = "==8.4.0"
pluggy = "==1.0.0"
prettytable = "==2.5.0"
py = "==1.11.0"
pycparser = "==2.21"
pynacl = "==1.5.0"
pyparsing = "==3.0.9"
pyserial = "==3.5"
pytest = "==7.0.1"
pytest-csv = "==3.0.0"
pytest-dependency = "==0.5.1"
pytest-html = "==3.1.1"
pytest-metadata = "==1.11.0"
pytest-ordering = "==0.6"
pytest-reporter = "==0.5.2"
pytest-reporter-html1 = "==0.8.2"
python-dateutil = "==2.8.2"
pytz = "==2022.1"
pyyaml = "==6.0"
scapy = "==2.4.5"
scp = "==0.14.4"
six = "==1.16.0"
sqlalchemy = "==1.4.39"
sqlalchemy-utils = "==0.38.3"
tabulate = "==0.8.10"
tomli = "==1.2.3"
typing-extensions = "==4.1.1"
wcwidth = "==0.2.5"
xml-python = "==0.4.3"
zipp = "==3.6.0"

[dev-packages]
